@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-0: #20130e;
    --color-1: #4c2c21;
    --color-2: #78462c;
    --color-3: #ab6c46;
    --color-4: #d19e79;
    --color-5: #f2e3c3;
    
    
    --color-danger: #e03f3f;
    --color-save: #78b93c;

    --daySizeW: calc(100vw / 5);
    --daySizeH: calc(80vh / 24);
    --slotSizeH: calc(80vh / 6);
}

* {
    margin: 0;
    padding: 0;
    color: var(--color-0);
    background: transparent;
    scroll-behavior: smooth;
}

html {
    height: 100%;
}


body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    height: 90%;
    background: var(--color-5);
}

/*** HEADER ***/

.header {
    display: flex;
}

/** TITLE **/

h1 {
    
    margin: 20px 20px 10px 20px;
    border-radius: 1rem;
    padding: 2px 10px 2px 10px;
    text-align: left;
    color: var(--color-5);
    font-weight: bolder;
    font-size: 40px;
    width: fit-content;
    height: fit-content;
    background-color: var(--color-1);
}

.notif {
    display: none;
    position: fixed;
    top: 70px;
    right: 20px;
    font-size: 16px;
    border-radius: 1rem;
    width: fit-content;
    height: fit-content;
    background-color: var(--color-1);
    color: var(--color-5);
    border: 0px solid var(--color-1);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.notif-show {
    display: block;
}

/****/

/** USER INTERFACE **/

/* SIGNING IN/UP */

.user-container {
    margin-left: auto;
    height: fit-content;
    width: fit-content;
    position: relative;
    top: 0%;
    right: 0%;
    display: flex;
    justify-content: center;
    gap: 4%;
    padding: 10px;
    border-left: 0px solid var(--color-2);
    border-bottom: 0px solid var(--color-2);
    background-color: var(--color-4);
    box-shadow: 0 0 10px var(--color-0);
    border-bottom-left-radius: 1rem;
    overflow: hidden;
}

.user-container.connected {
    cursor: pointer;
    background-image: linear-gradient(var(--color-2), var(--color-2));
    background-size: 0% 100%;
    background-color: var(--color-4);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    color: var(--color-1);
    transition: background-position 500ms,
    background-size 600ms, 
    margin-left 700ms
    ease-in-out;
}

.user-container.connected:hover {
    background-size: 100% 100%;
    background-position: 110% 100%;
    color: var(--color-4);
    transition: background-position 100ms, 
    background-size 1000ms, 
    margin-left 700ms
    ease-in-out;
}

.user-profile {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-1);
    cursor: pointer;
    transition: color 300ms ease-in-out;
}

.user-container.connected:hover .user-profile {
    color: var(--color-5);
    transition: color 300ms ease-in-out;
}

.sign-button {
    border: 0px solid var(--color-1);
    font-size: 16px;
    font-weight: 600;
    padding: 1rem;
    width: 8rem;
    
}


.button-color-1 {
    border-bottom-left-radius: 1rem;
    background-image: linear-gradient(var(--color-1), var(--color-1));
    background-size: 0% 100%;
    background-color: var(--color-3);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    color: var(--color-1);
    transition: background-position 500ms,
    background-size 300ms, 
    margin-left 700ms,
    color 300ms
    ease-in-out;
}

.button-color-2 {
    background-image: linear-gradient(var(--color-1), var(--color-1));
    background-size: 100% 100%;
    background-color: var(--color-3);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    color: var(--color-4);
    transition: background-position 500ms,
    background-size 300ms, 
    margin-left 700ms,
    color 300ms
    ease-in-out;
}

.button-color-1:hover,
.button-color-2:hover {
    cursor: pointer;
}

.button-color-1:hover {
    background-size: 100% 100%;
    background-position: 110% 100%;
    color: var(--color-4);
    transition: background-position 100ms, 
    background-size 300ms, 
    margin-left 700ms,
    color 300ms
    ease-in-out;
}


.sipped {
    background-size: 0% 100%;
    background-position: 0% 100%;
    color: var(--color-1);
    transition: background-position 100ms, 
    background-size 300ms, 
    margin-left 700ms,
    color 300ms
    ease-in-out;
}

/**/

/****/

/******/



/* SCHEDULE TABLE */

.schedule-table {
    align-self: auto;
    border-collapse: collapse;
}



.schedule-container {
    border: 4px solid var(--color-2);
    border-radius: 1rem;
    margin: 10px 20px 0px 20px;
    padding: 10px;
    width: fit-content;
    background-color: var(--color-4);
    box-shadow: 0 0 10px var(--color-0);
}


.schedule-table {
    margin-left: 44px;
}


.schedule-table th {
    width: var(--daySizeW, calc(100vw / 5));
    height: var(--daySizeH, calc(80vh / 24));
    border: 2px solid var(--color-1);
    background-color: var(--color-3);
    color: var(--color-0);
    font-size: 16px;
    font-weight: bold;
}

.slot {
    width: var(--daySizeW);
    height: var(--slotSizeH, calc(80vh / 6));
    border: 2px solid var(--color-2);
    text-align: center;
    
}

.schedule-table td {
    font-size: 14px;
    position: relative; 
}


.scheduleHours {
    color: var(--color-0);
    position: absolute;
    align-items: right;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
}

/**/


/* COURSE */

.case_cours {
    width: 100%;
    position: absolute;
    overflow: hidden;
    /*ne semble pas fonctionner avec JBoss*/
    align-content: center;
    
}

.nom_cours {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-0);
}

.info_cours {
    text-align: left;
    font-size: 16px;
    color: var(--color-0);
}

.hide {
	display: none;
}

/**/

.admin-button {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	gap: 1rem;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.add-button {
  border-radius: .6rem;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  
  background-image: linear-gradient(var(--color-1), var(--color-1));
  background-size: 0% 100%;
  background-color: var(--color-3);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  color: var(--color-1);
  transition: background-position 500ms,
  background-size 1000ms, 
  color 600ms
  ease-in-out;
}

.add-button:hover {
    background-size: 100% 100%;
    background-position: 0% 100%;
    color: var(--color-4);
    transition: background-position 100ms, 
    background-size 600ms, 
    color 800ms
    ease-in-out;
}

.choice-button {
    margin-bottom: 10px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  border-radius: .4rem;
  min-width: fit-content;
  background-color: var(--color-1);
  box-shadow: 0px 0px 16px rgba(0,0,0,0.2);
  z-index: 1;
  overflow-y: hidden;
}

.choice-content, .view-content {
    display: none;
    position: absolute;
    border-radius: .4rem;
    min-width: fit-content;
    max-height: 300px;
    
    background-color: var(--color-4);
    box-shadow: 0px 0px 16px rgba(0,0,0,0.2);
    z-index: 1;
    overflow-y: scroll;
}

    /* Hide scrollbar */
.choice-content::-webkit-scrollbar {
    display: none;
}

.view-content::-webkit-scrollbar {
    display: none;
}



/* Links inside the dropdown */
.dropdown-content a, .choice-element {
  
  font-size: 16px;
  padding: 12px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  background-image: linear-gradient(var(--color-2), var(--color-2));
  background-size: 0% 100%;
  background-color: var(--color-4);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  color: var(--color-2);
  transition: background-position 500ms,
  background-size 600ms, 
  color 600ms
  ease-in-out;
}

.dropdown-content a:hover, .choice-element:hover {
    background-size: 100% 100%;
    background-position: 0% 100%;
    color: var(--color-5);
    transition: background-position 100ms, 
    background-size 600ms, 
    color 800ms
    ease-in-out;
}

.clicked, .clicked:hover {
    background-image: linear-gradient(var(--color-1), var(--color-1));
    background-size: 100% 100%;
    background-position: 0% 100%;
    color: var(--color-5);
}

/* Show the dropdown menu when the user clicks on the dropdown button */
.show {
  display: block;
}

.popup-container {
	display: none;
	position: fixed;
	justify-content: center;
  	align-items: center;
  	width: 100%;
  	z-index: 9999;
  	
  	
}

.popup {
	display: grid;
    position: relative;
    justify-content: center;
  	align-items: center;
    width: fit-content;
    /*max-width: 350px;*/
    height: fit-content;
    padding: 6px 8px 2px 8px;
    border: 4px solid var(--color-2);
    border-radius: 1rem;
    background-color: var(--color-3);
    box-shadow: 0 0 10px var(--color-0);
}

.popup-table {
    border-collapse: separate;
    border-spacing: 10px 0px ;
}






label {
    display: block;
    margin-bottom: 10px;
    color: var(--color-1);
    font-size: 16px;
    font-weight: bold;
    
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="file"], .submit-button {
    width: fit-content;
    padding: 6px;
    margin-bottom: 10px;
    border: 4px solid var(--color-2);
    background-color: var(--color-4);
    border-radius: 1rem;
    color: var(--color-1);
    font-size: 16px;
    font-weight: bold;
}


input[type="text"].time-input {
    width: 20px;
}

input[type="text"].year-input {
    width: 40px;
}


input[type="submit"], .button-csv, .choice-button, .time-button, .submit-button {
    border-radius: 1rem;
    padding: 10px;
    border: 0px solid var(--color-1);
    font-size: 16px;
    font-weight: bold;
    width: fit-content;
    cursor: pointer;
    background-image: linear-gradient(var(--color-1), var(--color-1));
    background-size: 0% 100%;
    background-color: var(--color-2);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    color: var(--color-5);
    transition: background-position 500ms,
    background-size 300ms, 
    color 300ms
    ease-in-out;
}

.time-button {
    width: 40px;
    margin-bottom: 10px;
}

input[type="submit"]:hover, .button-csv:hover, .choice-button:hover, .time-button:hover, .submit-button:hover {
    cursor: pointer;
    background-size: 100% 100%;
    background-position: 110% 100%;
    color: var(--color-4);
    transition: background-position 500ms,
    background-size 300ms, 
    color 300ms
    ease-in-out;
}



.error-message {
    display: flex;
    color: var(--color-1);
    font-size: 16px;
    font-weight: bold;
}

.div-line {
	display: flex;
	align-items: center;
    justify-content: center;
    gap: 10px;
}

.div-column {
	display: grid;
	align-items: center;
    justify-items: center;
    width: fit-content;
}

.center-line {
    display: flex;
	align-items: center;
    justify-content: center;
}

.header-line {
    position: relative;
	display: flex;
    margin-bottom: 5px;
}


.show-flex {
	display: flex;
}


.popup-button {
	display: flex;
	position: relative;
    border: 0px solid var(--color-1);
    font-size: 16px;
    font-weight: 600;
    padding: 1rem;
    width: 20px;
    height: 20px;
    border-radius: .4rem;
    
}

.button-exit {
	position: absolute;
	top: 0%;
	right: 0%;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    border: 0px solid var(--color-1);
    background-image: linear-gradient(var(--color-danger), var(--color-danger));
    background-size: 0% 100%;
    background-color: var(--color-2);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    color: var(--color-5);
    transition: background-position 500ms,
    background-size 300ms, 
    color 300ms
    ease-in-out;
}

.button-exit:hover {
    background-size: 100% 100%;
    background-position: 0% 100%;
    color: var(--color-5);
    transition: background-position 100ms, 
    background-size 600ms, 
    color 800ms
    ease-in-out;
}

h2 {
    border-radius: 1rem;
    padding: 2px 10px 2px 10px;
    text-align: left;
    color: var(--color-5);
    font-weight: bolder;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    background-color: var(--color-1);
}

.button-validate:hover {
	background-color: var(--color-save);
}